{% extends '_layout' %}

{% set profileImage = entry.image.one() %}

{% block content %}
  <h1>{{ entry.title }}</h1>

  <div class="about">
    {% if profileImage %}
      <div class="photo">
        {{ profileImage.getImg() }}
      </div>
    {% endif %}

    <div class="bio">
      {{ entry.bio | md }}
    </div>
  </div>
{% endblock %}