{% extends '_layout' %}

{% set profileImage = entry.image.one() %}

{% block content %}
  <section aria-labelledby="contact-title">
    <h1 id="contact-title">{{ entry.title }}</h1>

  <div class="about">
    {% if profileImage %}
      {% set altText = profileImage.alt ?? entry.title ~ ' portrait' %}
      <figure class="photo">
        <img src="{{ profileImage.url }}" alt="{{ altText }}">
      </figure>
    {% endif %}

    <div class="bio">
      {{ entry.bio | md }}
    </div>
  </div>
  </section>
{% endblock %}
